*{                                                                                                      
    font-family: sans-serif;                                                                                                      
    padding: 0;                                                                                                      
    margin: 0;                                                                                                      
    color: #EEEEEE;                                                                                                      
}                                                                                                      
body{                                                                                                      
    background-color: #282a2e;                                                                                                      
}                                                                                                      
.header{                                                                                                      
    height: 10%;                                                                                                      
    background-color: #a16b06;                                                                                                      
    display: flex;                                                                                                       
    flex-direction: row;                                                                                                      
    justify-content: space-between;                                                                                                      
    padding: 15px 40px;                                                                                                      
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);                                                                                                      
}                                                                                                      
.menu{                                                                                                      
    display: flex;                                                                                                                                                                                                           
    align-items: center;                                                                                                      
}                
.texts{
    display: flex;
    gap: 40px;
}    
.menu-img{
    display:none;
    width: 35px;
    cursor: pointer;
}                                                                                  
.logo{                                                                                                      
    cursor: pointer;                                                                                                      
}                                                                                                      
a{                                                                                                      
    text-decoration: none;  
    transition-duration: 0.4s;                                                                                                    
}                                                                                                      
a:hover{                                                                                                      
    color:#282a2e;                                                                                   
}                                                                                                      
.main{                                                                                                      
    display: flex;                                                                                                      
    height: 90%;                                                                                                      
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                      
    gap: 40px;                                                                                                      
    padding: 80px 40px;                                                                                                      
}                                                                                                      
.main-2{                                                                                                      
    display: flex;                                                                                                      
    flex-direction: column;                                                                                                      
    gap: 60px;                                                                                                      
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                      
    width: 100%;                                                                                                      
    height: 100%;                                                                                                      
}                                                                                                      
.main-text{                                                                                                      
    font-size: 54px;                                                                                                      
    text-align: center;                                                                                                      
}                                                                                                      
.main-button{                                                                                                      
    background: rgb(255, 210, 86);
    background: linear-gradient(90deg, rgb(255, 220, 124) 0%, rgba(161,107,6,1) 33%, rgba(161,107,6,1) 100%);                                                                                                   
    font-size: 24px;      
    font-family:none;                                                                                                
    border: none;                                                                                                      
    text-decoration: none;                                                                                                      
    border-radius: 20px;                                                                                                      
    padding: 5px 40px;                                                                                                      
    cursor: pointer;                                                                                                      
    transition-duration: 0.4s;                                                                                                      
}                                                                                                      
.main-button:hover{       
    background-color: #EEEEEE;                                                                                               
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(247, 245, 245, 0.19);                                                                                                      
}                                                                                                      
.main-img{                                                                                                      
    width: 500px;                                                                                                      
    height: 100%;                                                                                                      
    border-radius: 20px;                                                                                                      
    box-shadow: 10px 10px 40px black;                                                                                                      
}                                                                                                      
.subelerimiz{                                                                                                      
    display: flex;      
    flex-direction: column;                                                                                                                           
    justify-content: center;                                                                                                                                 
    align-items: center;                                                                                                                                                                                                                        
    padding: 80px 40px;                                                                                                                                 
}                 
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 40px;
}
.resimler{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ucluresimler{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.gallery-img{
    width: 28%;
    border-radius: 20px;
}
.uzunresim{
    width: 500px;
}
.iletisim{                                                                                                      
    display: flex;                                                                                                                                                                                                           
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                                                                                                                            
    padding: 40px 40px;                                                                                                   
}
.i-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    gap: 40px;
    padding: 80px 40px;
}
.i-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 80px 40px;
}
.i-button{
    background-color: #EEEEEE;
    color: black;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.last{
    display: flex;
    justify-content: end;
    margin: 80px 110px;
}
.i-buttonz{

    background: rgb(255, 210, 86);
    background: linear-gradient(90deg, rgb(255, 220, 124) 0%, rgba(161,107,6,1) 33%, rgba(161,107,6,1) 100%);
    font-size: 16px;
    border: none;
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.i-button:hover{
    background-color:#EEEEEE ;
        box-shadow: 0 12px 16px 0 rgba(250, 249, 249, 0.24), 0 17px 50px 0 rgba(248, 247, 247, 0.19);
}
.i-buttonz:hover{
    background-color:#EEEEEE ;
    box-shadow: 0 12px 16px 0 rgba(250, 249, 249, 0.24), 0 17px 50px 0 rgba(248, 247, 247, 0.19);
}
.i-input{
    background-color: #EEEEEE;
    color: black;
    width: 90%;
    height: 90%;
    font-size: 24px;
    border: none;
    text-decoration: none;
    padding: 5px 40px;
}

@media (max-width: 875px){
    .main{                                                                                                      
        flex-direction: column-reverse;                                                                                                     
    }
    .gallery{
        flex-direction: column-reverse;
    }     
    .iletisim{                                                                                                      
        display: flex;  
        flex-direction: column;                                                                                                                                                                                                         
    }
    .resimler{
        flex-direction: row;
    }
    .i-buttons{
        flex-direction: row;
        gap: 15px;
    }
    .ucluresimler {
        flex-direction: column;
        gap: 20px;
    }
    .ucluresimler img {
        width: 73%;     
        max-width: 100%;
    }
    .texts{
        display: none;
        
    }
    .menu-img{
        display: block;

    }
    
}
