*{                                                                                                      
    font-family: sans-serif;                                                                                                      
    padding: 0;                                                                                                      
    margin: 0;                                                                                                      
    color: #EEEEEE;                                                                                                      
}                                                                                                      
body{                                                                                                      
    background-color: #373A40;                                                                                                      
}                                                                                                      
.header{                                                                                                      
    height: 10%;                                                                                                      
    background-color: #686D76;                                                                                                      
    display: flex;                                                                                                       
    flex-direction: row;                                                                                                      
    justify-content: space-between;                                                                                                      
    padding: 15px 40px;                                                                                                      
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);                                                                                                      
}                                                                                                      
.menu{                                                                                                      
    display: flex;                                                                                                      
    gap: 25px;                                                                                                      
    align-items: center;                                                                                                      
}                                                                                                      
.logo{                                                                                                      
    cursor: pointer;                                                                                                      
}                                                                                                      
a{                                                                                                      
    text-decoration: none;  
    transition-duration: 0.4s;                                                                                                    
}                                                                                                      
a:hover{                                                                                                      
    color: #ad5e22;                                                                                   
}                                                                                                      
.main{                                                                                                      
    display: flex;                                                                                                      
    height: 90%;                                                                                                      
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                      
    gap: 40px;                                                                                                      
    padding: 80px 40px;                                                                                                      
}                                                                                                      
.main-2{                                                                                                      
    display: flex;                                                                                                      
    flex-direction: column;                                                                                                      
    gap: 60px;                                                                                                      
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                      
    width: 100%;                                                                                                      
    height: 100%;                                                                                                      
}                                                                                                      
.main-text{                                                                                                      
    font-size: 54px;                                                                                                      
    text-align: center;                                                                                                      
}                                                                                                      
.main-button{                                                                                                      
    background-color: #ad5e22;                                                                                                      
    font-size: 24px;                                                                                                      
    border: none;                                                                                                      
    text-decoration: none;                                                                                                      
    border-radius: 10px;                                                                                                      
    padding: 5px 40px;                                                                                                      
    cursor: pointer;                                                                                                      
    transition-duration: 0.4s;                                                                                                      
}                                                                                                      
.main-button:hover{       
    background-color: #EEEEEE;  
    color: #ad5e22;                                                                                             
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(247, 245, 245, 0.19);                                                                                                      
}                                                                                                      
.main-img{                                                                                                      
    width: 500px;                                                                                                      
    height: 100%;                                                                                                      
    border-radius: 20px;                                                                                                      
    box-shadow: 10px 10px 40px black;                                                                                                      
}                                                                                                      
.subelerimiz{                                                                                                      
    display: flex;      
    flex-direction: column;                                                                                                
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                                                                                                             
    padding: 80px 40px;                                                                                                      
}                  
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 40px;
}
.gallery-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.gallery-img{
    width: 33%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px black;
}
.iletisim{                                                                                                      
    display: flex;                                                                                                                                                                                                           
    justify-content: center;                                                                                                      
    align-items: center;                                                                                                                                                                                                            
    padding: 40px 40px;                                                                                                   
}
.i-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    gap: 40px;
    padding: 80px 40px;
}
.i-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
    padding: 80px 40px;
}
.i-button{
    background-color: #EEEEEE;
    color: #ad5e22;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.i-button:hover{
    background-color:#ad5e22 ;
    color: #EEEEEE;
    box-shadow: 0 12px 16px 0 rgba(250, 249, 249, 0.24), 0 17px 50px 0 rgba(248, 247, 247, 0.19);
}
.i-input{
    background-color: #EEEEEE;
    color: #ad5e22;
    width: 90%;
    height: 90%;
    font-size: 24px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 40px;
}

@media (max-width: 800px){
    .main{                                                                                                      
        flex-direction: column-reverse;                                                                                                     
    }
    .gallery{
        flex-direction: column;
    }     
    .iletisim{                                                                                                      
        display: flex;  
        flex-direction: column;                                                                                                                                                                                                         
    }
    .i-buttons{
        flex-direction: row;
        gap: 15px;
    }
}
